.App {
    display: none;
}
.photos {
    display: block;
}

@media screen and (min-width:992px) {
    .App {
        display: block;
        color: white;
    }
}
@media screen and (min-width:576px) {
    .photos {
        display: none;
    }
}
.paper {
    width:10px;
    height: 16px;
}